.left_chat_profile{
    display: flex;
}

.index_items{
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

.index_items:last-child{
    border-bottom: none;
}

.left_profile_details{
    cursor: pointer;
    margin-left: 10px;
    margin-top:10px;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    // position: absolute;
    right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    width: 33px;
  }

  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    // border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    // width: 90%;
  }
  