<!-- Start footer row -->
<div class="container-fluid footer_bg pt_40 pb_30">
    <div class="container">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3"> -->
          <!-- <div class="fst_st_colum_footer"> -->
            <!-- <div class="footer_logo_row pt-2"> 
              <a routerLink="/"><img src="assets/images/geneni_logo.png" class="mb_10" title="Genie" alt="Genie" /></a>
              <h3>About Us</h3>
              <div [innerHTML]="aboutUsData"></div>
            </div> -->
            <!-- <div class="footer_address_content">
              <a>
                <p><i class="fa fa-phone" aria-hidden="true"></i> +91 1234567890</p>
              </a>
              <a routerLink="/#">
                <p><i class="fa fa-envelope" aria-hidden="true"></i> info@tradex.com</p>
              </a>
              <a routerLink="www.tradex.com">
                <p><i class="fa fa-globe" aria-hidden="true"></i> www.tradex.com</p>
              </a>
            </div> -->
          <!-- </div>
        </div> -->
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <div class="scnd_colum_footer">
            <h3>Information</h3>
            <!-- <p><a routerLink="/about">About Us</a></p> -->
            <p><a routerLink="/support"> Support</a></p>
            <p><a routerLink="/disclaimer">Disclaimer</a></p>
            <p><a routerLink="/privacy-policy">Privacy Policy</a></p>
            <p><a routerLink="/termsandconditions">Terms & Conditions</a></p>
            <p><a routerLink="/contact">Contact Us</a></p>
            <p><a routerLink="/sitemap">Site Map</a></p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <div class="fst_st_colum_footer">
            <h3>Contact Info</h3>
            <div class="footer_address_content">
              <p class="display_block"><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+91 9010109045"> +91 9010109045</a> /
                <a href="tel:+91 9010109046">46</a>
              </p>
              <a href="mailto:genie@gmail.com">
                <p><i class="fa fa-envelope" aria-hidden="true"></i>genie@gmail.com</p>
              </a>
              <a routerLink="/#">
                <p class="display_block"><i class="fa fa-map-marker" aria-hidden="true"></i> Versatile Mobitech Pvt. Ltd.,
                  3rd Floor, Uni Space Business Center, Modern Profound Tech Park, Survey No: 12, Kondapur,
                  Hyderabad-500032.</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <div class="trd_colum_footer">
            <!-- <h3>Join Our Genie</h3>
            <div class="footer_feednack_mail">
              <div class="input-group radius_50 border_color">
                <input class="form-control py-2 border-right-0" type="text" placeholder="Email">
                <span class="input-group-append right_icon_mail">
                  <div class="input-group-text"><a routerLink="/#"><i class="fa fa-paper-plane"
                        aria-hidden="true"></i></a></div>
                </span>
              </div>
            </div> -->
            <div class="trd_right_socia_icons pt-3">
              <h3 class="mt-3">Follow us</h3>
              <ul>
                <li><a routerLink="/#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a routerLink="/#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                <li><a routerLink="/#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a routerLink="/#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer row -->
  <!-- Start footer copy right row -->
  <div class="container-fluid footer_copy-right">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_left_content">
          <p>Copyright &#9400;2020 <a routerLink="/#">Genie.</a> All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_right_content">
          <div class="copy_right_socia_icons">
            <p>Powered by <a href="https://www.versatilemobitech.com/" target="_block">Versatile Mobitech Pvt.
                Ltd</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer copy right row -->
 
  