<app-header></app-header>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Terms And Conditions</li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <div class="center">
        <h2 class="pl_10">Terms And Conditions</h2>
      </div>

      <div class="privacy_policy_row pt-3">
        <div [innerHTML]="termsAndCondtionsData"></div>

      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
