<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid cars_categery_row bt_bg">
  <div class="container">
    
    <h3 style="text-align: center; margin-top: 15px;">My Subscriptions</h3>
  </div>
</div>
<!-- End car categery row -->

<!-- Start categery row -->
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <!-- start right categery body -->
      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="item_img_row">
                  <h3>1</h3>
                  <p>Week</p>
                </div>
              </div>
              
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <p style="font-size: 21px;"><b>Available Ad's</b></p>
                <p>Expiiry Date</p>
                <!-- <p><b>Modal</b></p>
                <p>2018</p> -->
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="favourite_icon_row">
                    <p class="red" style="font-size: 21px;">10</p>
                </div>
                <p>22 june 2020</p>
              </div>
            </div><br>
            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Renewal</button>
                <div class="ml_15"></div>
                <button class="btn btn-clr" type="submit">Cancel</button>
            </div>
          </div>
          
        </div>
      </div>

      <!-- End right categery body -->
    </div>
  </div>
</div>
<!-- End categery row -->

<app-footer></app-footer>
