<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid cars_categery_row bt_bg bb_bg">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Change Password</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12 pb_40">
        <div class="change_pwd_row">
          <h3>Change Password</h3>
          <form class="pt_30">
            <div class="col-md-6 offset-md-3 input-group mb-3">
              <input type="password" class="form-control" placeholder="Current Password"
                aria-describedby="basic-addon1">
            </div>
            <div class="col-md-6 offset-md-3 input-group mb-3">
              <div class="input-group">
                <input type="password" class="form-control right_no_border" id="show_hide_pwd1"
                  placeholder="New Password" aria-describedby="basic-addon2" name="password">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" onclick="mypwd_show_hide1()"><i class="fa fa-eye"
                      aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3 input-group mb-3">
              <div class="input-group">
                <input type="password" class="form-control right_no_border" id="show_hide_pwd"
                  placeholder="Confirm Password" aria-describedby="basic-addon2" name="password">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2" onclick="mypwd_show_hide()"><i class="fa fa-eye"
                      aria-hidden="true"></i></span>
                </div>
              </div>
            </div>
            <div class="col-md-6 offset-md-3  input-group mb-3 center_btn">
              <button class="btn btn-clr" type="submit">SAVE</button>
              <div class="ml_15"></div>
              <button class="btn btn-clr" type="submit">CANCEL</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
