<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid cars_categery_row bt_bg">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li *ngIf="prodData!=undefined && prodData" class="breadcrumb-item"><a>{{prodData[0].category}}</a></li>
          <li *ngIf="prodData!=undefined && prodData" class="breadcrumb-item active" aria-current="page">
            {{prodData[0].sub_category}}</li>

        </ol>
      </nav>
    </div>
    <!-- <div class="row">
      <h6 class="pl_10">Used cars in Hyderabad</h6>
    </div> -->
    <div class="row pt_20">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p class="fs_20 pb_20">Filter</p>

      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <div class="row">
          <div class="col-md-6">

          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" id="search-text" aria-describedby="search-text"
              [(ngModel)]="searchText" placeholder="Enter text to search" autofocus>
          </div>
          
        </div>


      </div>
    </div>
  </div>
</div>
<!-- End car categery row -->

<!-- Start categery row -->
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <!-- start left nav categery -->

      <!-- End left nav categery -->
      <!-- start right categery body -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="multi_items_row" role="tabpanel" aria-labelledby="multi_items_tab">
            <div class="row pl_10 multi_item_section">
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4"
                *ngFor="let data of prodData | filter:searchText">
                <div class="items_colum">
                  <div class="item_img_row">
                    <div class="favourite_icon_row">
                      <a (click)="addwishList(data.product_id)">
                        <i class="fa fa-heart-o favourite_icon" [ngStyle]="{color:data.color}" aria-hidden="true"></i>
                      </a>
                    </div>
                    <a [routerLink]="['/prod-details',data.product_id]"><img
                        [src]="product_image_path + data.display_image" /></a>
                  </div>
                  <a [routerLink]="['/prod-details',data.product_id]">
                    <div class="item_content">
                      <h5 class="item_title_height">{{data.name}}</h5>
                      <p class="red"><i class="fa fa-inr" aria-hidden="true"></i> {{data.price}}</p>
                      <!-- <p class="item_title_width">{{data.description}}</p> -->
                      <!-- <p>2018 - 50,000 KM</p> -->
                      <p class="item_title_height"><i class="fa fa-map-marker" aria-hidden="true"></i> {{data.location}}
                      </p>
                      <p class="right">{{data.created_time}}</p>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- <div class="row">
          <div class="view_btn center">
            <button type="button" class="btn btn-clr">View More</button>
          </div>
        </div> -->
      </div>
      <!-- End right categery body -->
    </div>
  </div>
</div>
<!-- End categery row -->

<app-footer></app-footer>