<app-header></app-header>
<!-- Start car breadcrumb row -->
<div class="container-fluid cars_categery_row bt_bg">
  <div class="container">
    <h3 style="text-align: center; margin-top: 15px;">Subscribe with us</h3>
  </div>
</div>
<!-- End car categery row -->

<!-- Start categery row -->
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <!-- start right categery body -->
      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
          <div class="item_content col-12 col-md-12">
         
            <div class="row pl-3">
              <div class="col-lg-12">
                <div class="item_img_row">
                    <p class="red" style="font-size: 17px;">1 Week</p>
                </div>
              </div>
            </div>
           
            <div class="row pl-3">
                <div class="col-lg-12">
                    <h5 style="text-align: center;">Subscribe 1 week plan for 3 posts</h5>
                </div> 
            </div><br>

            <div class="row pl-3">
                <button class="btn btn-clr" type="submit">Subscribe Now</button>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
            <div class="item_content col-12 col-md-12">
           
              <div class="row pl-3">
                <div class="col-lg-12">
                  <div class="item_img_row">
                      <p class="red" style="font-size: 17px;">1 Month</p>
                  </div>
                </div>
              </div>
            
              <div class="row pl-3">
                  <div class="col-lg-12">
                      <h5 style="text-align: center;">Subscribe 1 Month plan for 10 posts</h5>
                  </div> 
              </div><br>
  
              <div class="row pl-3">
                  <button class="btn btn-clr" type="submit">Subscribe Now</button>
              </div>
            </div>
            
          </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
            <div class="item_content col-12 col-md-12">
           
              <div class="row pl-3">
                <div class="col-lg-12">
                  <div class="item_img_row">
                      <p class="red" style="font-size: 17px;">3 Months</p>
                  </div>
                </div>
              </div>
             
              <div class="row pl-3">
                  <div class="col-lg-12">
                      <h5 style="text-align: center;">Subscribe 3 months plan for 30 posts</h5>
                  </div> 
              </div><br>
  
              <div class="row pl-3">
                  <button class="btn btn-clr" type="submit">Subscribe Now</button>
              </div>
            </div>
            
          </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="items_colum bg_white_red">
            <div class="item_content col-12 col-md-12">
           
              <div class="row pl-3">
                <div class="col-lg-12">
                  <div class="item_img_row">
                      <p class="red" style="font-size: 17px;">6 Months</p>
                  </div>
                </div>
              </div>
              
              <div class="row pl-3">
                  <div class="col-lg-12">
                      <h5 style="text-align: center;">Subscribe 6 months plan for 45 posts</h5>
                  </div> 
              </div><br>
  
              <div class="row pl-3">
                  <button class="btn btn-clr" type="submit">Subscribe Now</button>
              </div>
            </div>
            
          </div>
      </div>

      
      <!-- End right categery body -->
    </div>
  </div>
</div>
<!-- End categery row -->

<app-footer></app-footer>
