.post_top_nav {
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: solid 1px #eee;
    margin-left: 30px;
  
    a {
      color: #000;
    }
  
    i {
      padding-top: 10px;
    }
  
    img {
      height: 60px;
      padding-left: 50px;
    }
  }
  
  .center {
    text-align: center;
  
    .wd_5 {
      width: 70%;
    }
  }
  
  .redBorder{
    border: red 1px solid;;
  }
  .border_one_px {
    border: 1px solid rgba(0, 47, 52, .2);
    padding: 0px 30px;
  }
  
  .title_two {
    width: 100%;
    text-align: center;
  }
  
  .my_profile_img {
    text-align: center;
  
    .img_edit {
      position: absolute;
      width: 35px;
      margin-top: 60px;
      margin-left: -35px;
    }
  }
   
  .btn-info {
    color: #fff;
    background-color: #0E3654;
    border-color: #0E3654;
  
    &:hover {
      background-color: #1B6CA8;
    }
  }
  
  // Start footer copyright section
  .footer_copy-right {
    border-top: solid 3px #e0dede;
  
    .copyright_left_content {
      p {
        padding: 10px 0px;
      }
  
      a {
        color: #000;
  
        &:hover {
          color: #1B6CA8;
          text-decoration: none;
        }
      }
    }
  
    .copyright_right_content {
      p {
        padding: 10px 0px;
        text-align: right;
      }
  
      a {
        color: #000;
  
        &:hover {
          color: #1B6CA8;
          text-decoration: none;
        }
      }
    }
  }
  .form-group{
    margin-bottom: 0.5em;
  }
  .pt-3, .py-3{
    padding-top: 0.5em;
  }

  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
  
  
  // Endfooter copyright section
  