<app-header></app-header>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<div class="container-fluid bb_bg">
  <div class="container">
    <div class="row">
      <div class="center">
        <h2>Privacy Policy</h2>
      </div>

      <div class="privacy_policy_row pt-3">
        <h5>Privacy Statement</h5>
        <p>TradeX is very conscious of the obligations imposed on it in terms of the law. The company
          understands that privacy is an important concern of visitors and is committed to safeguarding the privacy of
          www.versatilemobitech.com visitors. To ensure a high level of transparency and security, our privacy statement
          has been created which demonstrates our commitment to safeguarding its user’s privacy</p>
        <p>This Privacy Policy is intended to inform you of our policies, nature, scope, purpose, and practices
          regarding
          the collection, use, and processing of personal data recorded by us. The policy as set forth below discloses.
          Please read our privacy policy set forth below carefully to get a clear understanding of our information
          gathering and dissemination practices for this website including how we collect, use, protect or otherwise
          handle your Personally Identifiable Information.</p>
        <h5>Collection of Personal Information</h5>
        <p>TradeX collects personal information from you when you visit our site. You may be asked to enter
          your name, address, phone number, email address or other details. Users may, however, visit our site
          anonymously
          for software development services without providing any personal information. We will collect personal
          identification information from users only if they actively and voluntarily provide the information to us.</p>
        <h5>What personal information do we collect?</h5>
        <p>TradeX may collect, store and use the following kinds of personal information:</p>
        <ul>
          <li>Information that you provide to us when using the services on www.versatilemobitech.com, or when you’re
            willing to get some information about the services.</li>
          <li>The information contained in or relating to any communications that you send to us or send through
            www.versatilemobitech.com</li>
          <li>Any other personal information that you choose to send to us.</li>
        </ul>
        <h5>How do we use the information?</h5>
        <p>The information we collect from you when you register, sign up, visit our website, or use certain other site
          features may be used for the following:</p>
        <ul>
          <li>To improve customer service: Information you provide allows us to better service you in responding to your
            customer service requests and support needs more efficiently.</li>
          <li>To personalize user experience: To personalize your experience, and understand how our users use the
            services
            and resources provided on our site. The information will further allow us to deliver the services and
            offerings
            in which you are most interested.</li>
          <li>To process payments: When placing an order for a particular service or resource by the user, we may use
            the
            information that Users provide about themselves only to provide service to that order. It is ensured that
            this
            information is not shared with outside parties.</li>
          <li>To send periodic emails: We may use the email address as submitted by the users to send user information
            and
            updates pertaining to their order or other products and services. It may also be used to respond to their
            inquiries, questions, and other requests.</li>
        </ul>
        <h5>How do we protect your information?</h5>
        <p>We adopt suitable security measures to protect or guard against unauthorized access, unauthorized alteration,
          disclosure or destruction, theft or loss of your personal information and data stored on our website.</p>
        <ul>
          <li>We only provide information on the products and services offered.</li>
          <li>We never ask for credit card numbers.</li>
          <li>We do not use Malware Scanning.</li>
        </ul>
        <h5>Disclosure of Personal Information</h5>
        <ul>
          <li>We shall only disclose the personal data if it is bound to do so by law or if it has been authorized to do
            so by the user concerned.</li>
          <li>We shall not sell the personal data to third parties unless it has a user’s consent that has been
            obtained.
          </li>
          <li>We may share your personal information with third parties to fulfill your request for products or services
            or to deliver newsletters or promotional emails.</li>
          <li>We may store the personal data for such duration as may be necessary to comply with legal requirements.
          </li>
        </ul>
        <h5>CAN-SPAM Act</h5>
        <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial
          messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough
          penalties for violations.</p>
        <h5>Feedback</h5>
        <p>Any feedback provided by users on any of our products or services to us may be used for any purpose, provided
          we will not associate such feedback with your personal information.</p>
        <h5>User Consent</h5>
        <p>By accessing our website, you agree to the terms of this Privacy Policy. You also consent to be contacted by
          TradeX.</p>
        <h5>Contact Us</h5>
        <p>If you have any questions or concerns regarding these Terms of Use or wish to cease receiving further
          communications from us, or if you any special requests, please send an email to sales@versatilemobitech.com
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
