<div class="post_top_nav">
    <a routerLink="/post"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <a routerLink="/"><img src="assets/images/geneni_logo.png" title="Genie" alt="genie" /></a>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="title_two">
          <h3 class="center pt-5">Post your Ad</h3>
        </div>
  
        <div class="col-12 col-md-8 offset-md-2 mt-3">
          <form>
            <div class="border_one_px pb-3">
              <h5 class="pt-4 mb-3">For Sale:Houses & Apartments</h5>
              <!-- <nav class="breadcrumb">
                <a class="breadcrumb-item" routerLink="/post">Cars</a>
                <span class="breadcrumb-item active">Cars</span>
              </nav> -->
              <div class="form-group pt-3">
                <label for="exampleFormControlSelect1">House Type *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>--Select--</option>
                    
                </select>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1">No of rooms *</label>
                    <input type="text" class="form-control" id="validationServerUsername" placeholder=""
                    required>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlSelect1">No of bath rooms *</label>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder=""
                  required>
                </div>
              </div>

              <div class="form-group pt-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Furnished</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Semi Furnished</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Un Furnished</label>
                </div>
              </div>
              
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlSelect1">Built up area *</label>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder=""
                  required>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>sq</option>
                    </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlSelect1">Carpet area *</label>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder=""
                  required>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleFormControlSelect1"></label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>sq</option>
                    </select>
                </div>
              </div>
              
              <div class="form-group pt-3">
                <label for="exampleInputEmail1">Floor No *</label>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder="Enter Your Number"
                    required>
              </div>
              <div class="form-group pt-3">
                <label for="exampleFormControlSelect1">Car Parking *</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                    </select>
              </div>
              
              <div class="form-group pt-3">
                <label for="exampleInputEmail1">Property Location *</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-crosshairs"></i></span>
                  </div>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder="Enter Your Location"
                    required>
                </div>
              </div>

              <div class="form-group pt-3">
                <label for="exampleInputEmail1">Mobile Phone Number *</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3">+91</span>
                  </div>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder="Enter Your Number"
                    required>
                </div>
              </div>

              <div class="form-group pt-3">
                <label for="exampleInputEmail1">Location *</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-crosshairs"></i></span>
                  </div>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder="Enter Your Location"
                    required>
                </div>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Price *</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend3"><i class="fa fa-inr"
                        aria-hidden="true"></i></span>
                  </div>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                    required>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exampleFormControlSelect1">Seller Type *</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Individual</option>
                  <option>Dealer</option>
                  <option>Dealership / Certified Pre-Owner</option>
                </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="exampleFormControlSelect1">Ad Title *</label>
                  <input type="text" class="form-control" id="validationServerUsername" placeholder=""
                  required>
                </div>
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">Description *</label>
                <textarea class="form-control" placeholder="Enter Description" required></textarea>
                <p>Include Condition features and reason for sale</p>
              </div>
            </div>
            
            <div class="border_one_px pb-3">
              <h5 class="pt-4 mb-3">UPLOAD PHOTOS</h5>
              <div class="form-group">
                <div class="row">
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                  <div class="input-group col-12 col-md-6 mt-1">
                    <input type="file" class="form-control" id="validationServerUsername" placeholder="Enter Price"
                      required>
                  </div>
                </div>
  
              </div>
            </div>
             
            
            <div class="center mt-4">
              <button type="submit" class="btn btn-info wd_5">Post Your Ad</button>
            </div>
            
  
          </form>
         </div> 
      </div>
    </div>
  </div>
  <!-- Start footer copy right row -->
  <div class="container-fluid footer_copy-right mt-5 pt-2">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_left_content">
          <p>Copyright &#9400;2020 <a routerLink="/#">Genie.</a> All Rights Reserved.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 copyright_right_content">
          <div class="copy_right_socia_icons">
            <p>Powered by <a href="https://www.versatilemobitech.com/" target="_block">Versatile Mobitech Pvt.
                Ltd</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End footer copy right row -->
  